# Correcciones Examen 1

Gonzalo Cano Padilla

1.¿Qué es un pipeline?

Un pipline es una secuencia de pasos ordenados que automatizan el flujo de un modelo desde la preparación de datos hasta la predicción final, el pipeline nos deja integrar un mismo proceso diferentes tareas.

2.¿Cuál es el propósito de realizar regresiones? Explica las ventajas y desventajas de los dos planteamientos vistos en clase.

El proposito es modelar la relación entre las variables X y la variable Y para explicar o predecir su comportamiento. Las ventajas de la regresión sin penalización es que es facil de interpretar por sus coeficientes directos y la desventaja es que es sensible al overfit y al ruido. La ventaja de las regresiones con penalización es que reduce la varianza, controla la multicolinealidad y las desventajas es que es más dificil de interpretar y existe una posible pérdida de la precisión de los coeficientes

3.¿En qué consiste el proceso de escalamiento de factores?

Consiste en transformar las variables para que esten en la misma magnitud y evitar que valores grandes dominen en el modelo.

4.Explica el propósito de penalizar factores en una regresión.

El proposito es prevenir el overfit y reducir la complejidad penalizando la suma de cuadrados de los coeficientes o la suma de valores absolutos

5.¿Cuál es la relación entre escalamiento y penalización?

Para poder penalizar un modelo, las variables deben estar escaladas ya que la penalización depende de la magnitud de los coeficientes y si las variables no están escaladas, las variables más grandes serán penalizadas injustamente

6.Explica el concepto de una prueba de hipótesis.

Es un procedimiento estadístico que nos permite evaluar con cierto nivel de confianza si una afirmación sobre una población es razonable con base a una muestra y se plantea la hipótesis nula y una alternativa y se decide si se rechaza o no la hipótesis nula.

7.Explica la interpretación de un p-value de una prueba de hipótesis que compara contra una media µ.

El p-value nos dice qué tan raro sería obtener los datos que tenemos si la hipótesis fuera nula, si el p-value es menor o igual que el nivel de significancia se rechaza el H0 y si el p-value es mayor al nivel de significancia no se rechaza H0. Ejemplo, al comparar la media de una muestra contra µ=50, un p-value=0.01 indica solo 1% de probabilidad de ver esos datos si en realidad la media poblacional fuera 50.

8.Describe el propósito de realizar cross-validation.

Sirve para evaluar la capacidad de generalización de un modelo dividiendo los datos en varios subconjuntos y se entrenan y se prueban estos subconjuntos para ver las estimaciones y reducir el riesgo de overfit

9.Describe los pasos que seguirías al hacer un análisis exploratorio de datos. Justifica cada paso.

    1. Carga y limpieza de datos, quitar duplicados, nulos e inconsistencias
    2. Revisar el tipo de variables, categoricas, númericas y fechas
    3. Ver las estadísticas descriptivas, medias, varianza e identificar donde pudieran existir outliers
    4. Transformar las variables, crear dummies, escalar factores

10.¿Qué es el teorema del límite central?

El TLC dice que sis se toman muchas muestras aleatorias de una población con cualquier distribución, la distribución de sus medias muestrales tenderá a una distribución normal a medida que el tamaño de la muestra aumenta

---

# Correción parte 2

**¿Cuál fue el error?**

El error fue que no me pude concetrar y me bloquie a la hora de hacer el examen por la presión al tiempo, yo se que si pude haberlo resuelto pero mi cabeza se bloqueo y se me olvido como hacer todo, por eso no pude hacer el examen

¿Cuál es la corrección?

La correción seria hacer todo el examen otra vez ya que solo pude cargar los datos y dropear las columnas que considere que no eran relevantes

¿Por qué se cometió el error?

El error se cometio por exceso de confianza y no estaba preparado, me imaginaba que iba a ser más facil el examen y como no tuve un resultado esperado lo que hice fue bloquearme

¿Cómo se puede evitar este error en el futuro? (Métodos prácticos aplicables. Nada de “estudiar más”)

Ir a las asesorias de programación ya que siento que ciertas cosas se me siguen complicando y también me gustaria tomar más notas en clase para entender mejor ya que en las clases no termino de entender todo, también me gustaria que el profe enseñara su código o nos diera algunas diapositivas o algo para poder entender de manera visual ya que siempre es hacer el código por nuestra cuenta y siempre estoy dudando si esta bien o esta mal, nunca estoy seguro de mis resultados en mi código.

In [1]:
# Cargar datos
import pandas as pd

datos = pd.read_csv('imdb_top1000_lae.csv')
datos

,Unnamed: 0,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Gross,Drama,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
0,0,The Shawshank Redemption,1994,A,142 min,9.3,80.0,Frank Darabont,"28,341,469",1,...,0,0,0,0,0,0,0,0,0,0
1,1,The Godfather,1972,A,175 min,9.2,100.0,Francis Ford Coppola,"134,966,411",1,...,0,0,0,0,0,0,0,0,0,0
2,2,The Dark Knight,2008,UA,152 min,9.0,84.0,Christopher Nolan,"534,858,444",1,...,0,0,0,0,0,0,0,0,0,0
3,3,The Godfather: Part II,1974,A,202 min,9.0,90.0,Francis Ford Coppola,"57,300,000",1,...,0,0,0,0,0,0,0,0,0,0
4,4,12 Angry Men,1957,U,96 min,9.0,96.0,Sidney Lumet,"4,360,000",1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,Breakfast at Tiffany's,1961,A,115 min,7.6,76.0,Blake Edwards,NaN,1,...,0,0,0,1,0,0,0,0,0,0
996,996,Giant,1956,G,201 min,7.6,84.0,George Stevens,NaN,1,...,0,0,0,0,0,0,0,0,0,0
997,997,From Here to Eternity,1953,Passed,118 min,7.6,85.0,Fred Zinnemann,"30,500,000",1,...,0,0,0,1,0,1,0,0,0,0
998,998,Lifeboat,1944,NaN,97 min,7.6,78.0,Alfred Hitchcock,NaN,1,...,0,0,0,0,0,1,0,0,0,0
999,999,The 39 Steps,1935,NaN,86 min,7.6,93.0,Alfred Hitchcock,NaN,0,...,0,0,1,0,0,0,0,0,0,0

In [2]:
datos = datos.dropna()
datos = datos.drop_duplicates()
datos

,Unnamed: 0,Series_Title,Released_Year,Certificate,Runtime,IMDB_Rating,Meta_score,Director,Gross,Drama,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
0,0,The Shawshank Redemption,1994,A,142 min,9.3,80.0,Frank Darabont,"28,341,469",1,...,0,0,0,0,0,0,0,0,0,0
1,1,The Godfather,1972,A,175 min,9.2,100.0,Francis Ford Coppola,"134,966,411",1,...,0,0,0,0,0,0,0,0,0,0
2,2,The Dark Knight,2008,UA,152 min,9.0,84.0,Christopher Nolan,"534,858,444",1,...,0,0,0,0,0,0,0,0,0,0
3,3,The Godfather: Part II,1974,A,202 min,9.0,90.0,Francis Ford Coppola,"57,300,000",1,...,0,0,0,0,0,0,0,0,0,0
4,4,12 Angry Men,1957,U,96 min,9.0,96.0,Sidney Lumet,"4,360,000",1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
990,990,Giù la testa,1971,PG,157 min,7.6,77.0,Sergio Leone,"696,690",1,...,0,0,0,0,0,1,0,0,0,0
991,991,Kelly's Heroes,1970,GP,144 min,7.6,50.0,Brian G. Hutton,"1,378,435",0,...,0,0,0,0,0,1,0,0,0,0
992,992,The Jungle Book,1967,U,78 min,7.6,65.0,Wolfgang Reitherman,"141,843,612",0,...,0,1,0,0,0,0,0,0,0,0
994,994,A Hard Day's Night,1964,U,87 min,7.6,96.0,Richard Lester,"13,780,024",0,...,0,0,0,0,0,0,1,1,0,0
997,997,From Here to Eternity,1953,Passed,118 min,7.6,85.0,Fred Zinnemann,"30,500,000",1,...,0,0,0,1,0,1,0,0,0,0

### Quitar columnas

Decidi quitar las columnas de unnames porque no es relevante, certificate porque considero que no es relevante para predecir la calificación y solo puede complicar el modelo, series title y director porque si las convierto a dummies quedarian demasiadas variables y solo complicarian al modelo, y gross no considero que es relevante porque queremos predecir la calificación no el exito de la pelicula en taquilla

In [3]:
datos = datos.drop(columns=['Unnamed: 0','Certificate','Series_Title','Director', 'Gross'])
datos.describe()

,IMDB_Rating,Meta_score,Drama,Crime,Action,Biography,Western,Comedy,Adventure,Animation,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
count,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,...,714.000000,714.000000,714.000000,714.000000,714.000000,714.000000,714.00000,714.000000,714.000000,714.000000
mean,7.937115,77.158263,0.700280,0.198880,0.196078,0.123249,0.022409,0.225490,0.228291,0.088235,...,0.077031,0.060224,0.138655,0.123249,0.078431,0.040616,0.04902,0.015406,0.023810,0.053221
std,0.293278,12.401144,0.458456,0.399437,0.397307,0.328954,0.148113,0.418198,0.420026,0.283836,...,0.266827,0.238068,0.345829,0.328954,0.269038,0.197538,0.21606,0.123248,0.152562,0.224632
min,7.600000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
25%,7.700000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
50%,7.900000,78.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
75%,8.100000,86.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
max,9.300000,100.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000

### Transformar datos

In [4]:
# Released_Year -> quitar "PG" y convertir a entero
datos = datos[datos['Released_Year'] != "PG"]
datos['Released_Year'] = datos['Released_Year'].astype(int)

# Runtime -> aseguramos que sea string antes de reemplazar
datos['Runtime'] = datos['Runtime'].astype(str).str.replace(' min', '', regex=False)
datos['Runtime'] = datos['Runtime'].astype(int)

In [5]:
datos.describe()

,Released_Year,Runtime,IMDB_Rating,Meta_score,Drama,Crime,Action,Biography,Western,Comedy,...,Fantasy,Family,Thriller,Romance,Sci-Fi,War,Music,Musical,Sport,History
count,713.000000,713.000000,713.000000,713.000000,713.00000,713.000000,713.000000,713.000000,713.000000,713.000000,...,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000,713.000000
mean,1995.736325,123.692847,7.937588,77.158485,0.69986,0.199158,0.196353,0.123422,0.022440,0.225806,...,0.077139,0.060309,0.138850,0.123422,0.078541,0.040673,0.049088,0.015428,0.023843,0.051893
std,18.598222,25.898509,0.293211,12.409849,0.45864,0.399648,0.397518,0.329152,0.148215,0.418406,...,0.266999,0.238225,0.346033,0.329152,0.269210,0.197671,0.216204,0.123333,0.152667,0.221968
min,1930.000000,72.000000,7.600000,28.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1987.000000,104.000000,7.700000,70.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2001.000000,120.000000,7.900000,78.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2010.000000,136.000000,8.100000,86.000000,1.00000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,2019.000000,238.000000,9.300000,100.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 713 entries, 0 to 997
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Released_Year  713 non-null    int64
 1   Runtime        713 non-null    int64
 2   IMDB_Rating    713 non-null    float64
 3   Meta_score     713 non-null    float64
 4   Drama          713 non-null    int64
 5   Crime          713 non-null    int64
 6   Action         713 non-null    int64
 7   Biography      713 non-null    int64
 8   Western        713 non-null    int64
 9   Comedy         713 non-null    int64
 10  Adventure      713 non-null    int64
 11  Animation      713 non-null    int64
 12  Horror         713 non-null    int64
 13  Mystery        713 non-null    int64
 14  Film-Noir      713 non-null    int64
 15  Fantasy        713 non-null    int64
 16  Family         713 non-null    int64
 17  Thriller       713 non-null    int64
 18  Romance        713 non-null    int64
 19  Sci-Fi         713 non-null    int64
 20  War            713 non-null    int64
 21  Music          713 non-null    int64
 22  Musical        713 non-null    int64
 23  Sport          713 non-null    int64
 24  History        713 non-null    int64
dtypes: float64(2), int64(23)
memory usage: 144.8 KB

In [7]:
import numpy as np
from sklearn.metrics import r2_score
import statsmodels.api as sm
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.preprocessing import StandardScaler

In [8]:
y = datos['IMDB_Rating']
X = datos.drop(columns=['IMDB_Rating'])
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.6, random_state=137)

In [9]:
# Escalamiento
scaler = StandardScaler().fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled =scaler.transform(X_test)

In [10]:
# Regresión con Datos train
lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

n, p = X_train_scaled.shape

# Predicciones
y_hat = lr.predict(X_train_scaled)

# R2 (train)
R2 = r2_score(y_train, y_hat)


# RSS (train)
RSS = np.sum((y_train - y_hat)**2)

# RSE con gl = n - p - 1
RSE = np.sqrt(RSS / (n - p - 1))

# Var_beta
X = np.column_stack([np.ones(n), X_train_scaled])  # X con intercepto (train)

var_beta = np.linalg.pinv(X.T @ X) * (RSE**2)

std_beta = np.sqrt(var_beta.diagonal())

# Estadísticos t
beta = np.r_[lr.intercept_, lr.coef_]   # vector (p+1,)
t_values = beta / std_beta

# P-values (bilaterales) con gl = n - p - 1
p_values = 2 * (1 - stats.t.cdf(np.abs(t_values), df=n - p - 1))

print('---Resultados Regresión sin penalización con datos de entrenamiento---')
print(f"Intercepto: {lr.intercept_}")
print(f"Coeficientes: {lr.coef_}")
print(f"R2: {R2}")
print(f"P-values: {p_values}")

---Resultados Regresión sin penalización con datos de entrenamiento---
Intercepto: 7.937939110070258
Coeficientes: [-0.03200556  0.10454986  0.08424529 -0.0175594   0.00069935 -0.00894268
 -0.03023147 -0.01368275 -0.01705333 -0.0196739   0.01380511 -0.00664529
 -0.02001469 -0.00438428 -0.00230011 -0.01329512 -0.01245444 -0.01991786
 -0.00546304 -0.01293955  0.00384046 -0.00959181  0.00655674 -0.02177271]
R2: 0.21307105505172264
P-values: [0.00000000e+00 3.50117902e-02 6.17133011e-11 4.42596626e-09
 3.87103418e-01 9.63894451e-01 5.97215230e-01 4.28301885e-02
 3.29516924e-01 3.00006679e-01 2.83727921e-01 3.89963872e-01
 6.34645985e-01 1.62751481e-01 7.51809657e-01 8.74863485e-01
 3.73105891e-01 4.16728284e-01 1.77162672e-01 7.15496009e-01
 3.58857043e-01 8.06719225e-01 5.31776987e-01 6.40992507e-01
 1.24725022e-01]

In [11]:
# Con datos de prueba
n, p = X_test_scaled.shape

# Predicciones
y_hat = lr.predict(X_test_scaled)

# R2 (train)
R2 = r2_score(y_test, y_hat)


# RSS (train)
RSS = np.sum((y_test - y_hat)**2)

# RSE con gl = n - p - 1
RSE = np.sqrt(RSS / (n - p - 1))

# Var_beta
X = np.column_stack([np.ones(n), X_test_scaled])

var_beta = np.linalg.pinv(X.T @ X) * (RSE**2)

std_beta = np.sqrt(var_beta.diagonal())

# Estadísticos t
beta = np.r_[lr.intercept_, lr.coef_]   # vector (p+1,)
t_values = beta / std_beta

# P-values (bilaterales) con gl = n - p - 1
p_values = 2 * (1 - stats.t.cdf(np.abs(t_values), df=n - p - 1))

print('---Resultados Regresión sin penalización con datos de prueba---')
print(f"Intercepto: {lr.intercept_}")
print(f"Coeficientes: {lr.coef_}")
print(f"R2: {R2}")
print(f"P-values: {p_values}")

---Resultados Regresión sin penalización con datos de prueba---
Intercepto: 7.937939110070258
Coeficientes: [-0.03200556  0.10454986  0.08424529 -0.0175594   0.00069935 -0.00894268
 -0.03023147 -0.01368275 -0.01705333 -0.0196739   0.01380511 -0.00664529
 -0.02001469 -0.00438428 -0.00230011 -0.01329512 -0.01245444 -0.01991786
 -0.00546304 -0.01293955  0.00384046 -0.00959181  0.00655674 -0.02177271]
R2: 0.09999448890567308
P-values: [0.00000000e+00 1.06306711e-01 3.35341448e-06 4.60044971e-05
 5.02399537e-01 9.72564772e-01 7.09947593e-01 1.17259150e-01
 4.95643431e-01 4.34100080e-01 3.83038736e-01 4.73081174e-01
 7.07668574e-01 2.94147550e-01 8.32414171e-01 8.91115455e-01
 4.72535851e-01 5.70359948e-01 3.00078377e-01 7.79042209e-01
 4.60222527e-01 9.03562607e-01 6.72230891e-01 7.97342221e-01
 2.73602543e-01]

In [12]:
# Regresión Lasso para datos de entrenamiento y prueba
L1 = Lasso(alpha=0.0001)
L1.fit(X_train_scaled, y_train)

#Entrenamiento
y_hat_train = L1.predict(X_train_scaled)
R2_train = r2_score(y_train, y_hat_train)

#Prueba
y_hat_test = L1.predict(X_test_scaled)
R2_test = r2_score(y_test, y_hat_test)

print('---Resultados Regresión Lasso con datos de entrenamiento y prueba---')
print(f"Intercepto: {L1.intercept_}")
print(f"Coeficientes: {L1.coef_}")
print(f"R2 train: {R2_train}")
print(f"R2 test: {R2_test}")

---Resultados Regresión Lasso con datos de entrenamiento y prueba---
Intercepto: 7.937939110070258
Coeficientes: [-0.03182782  0.10430201  0.08416463 -0.01686466  0.00080553 -0.00854518
 -0.02987085 -0.01341628 -0.01659007 -0.01925706  0.01377872 -0.00643709
 -0.01975361 -0.00416357 -0.00201168 -0.01299026 -0.01208438 -0.0196155
 -0.00518883 -0.01266973  0.00371015 -0.00931188  0.00651531 -0.02158674]
R2 train: 0.21306396682203876
R2 test: 0.10054245953254892

In [13]:
# Regresión Ridge para datos de entrenamiento
L2 = Ridge(alpha=0.0001)
L2.fit(X_train_scaled, y_train)

y_hat_train = L2.predict(X_train_scaled)
R2_train = r2_score(y_train, y_hat_train)

y_hat_test = L2.predict(X_test_scaled)
R2_test = r2_score(y_test, y_hat_test)

print('---Resultados Regresión Lasso con datos de entrenamiento y prueba---')
print(f"Intercepto: {L2.intercept_}")
print(f"Coeficientes: {L2.coef_}")
print(f"R2 train: {R2_train}")
print(f"R2 test: {R2_test}")

---Resultados Regresión Lasso con datos de entrenamiento y prueba---
Intercepto: 7.937939110070258
Coeficientes: [-0.03200555  0.10454982  0.08424527 -0.01755937  0.00069936 -0.00894267
 -0.03023145 -0.01368274 -0.01705332 -0.01967387  0.0138051  -0.00664528
 -0.02001468 -0.00438428 -0.00230011 -0.01329511 -0.01245443 -0.01991784
 -0.00546303 -0.01293954  0.00384046 -0.0095918   0.00655674 -0.0217727 ]
R2 train: 0.21307105505169632
R2 test: 0.09999454768784288